<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magnifier</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<nav>
    <div class="container">
        <h1>MAGNIFIER</h1>
        <ul>
            <li><a href="#" onclick="showInfo('home')">Home</a></li>
            <li><a href="#" onclick="showInfo('team')">Team</a></li>
            <li><a href="#" onclick="showInfo('collaboration')">Collaboration</a></li>
            <li><a href="#" onclick="showInfo('about')">About</a></li>
            <li><a href="#" onclick="showInfo('media')">Media</a></li>
        </ul>
    </div>
</nav>
<h2></h2>
<div class="info-box" id="info-box"></div>
<button id="next-btn" onclick="openIntroduction()">Next</button>
<script src="script.js"></script>
</body>
</html>

